@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

/* Header CSS Start*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 7rem;
    }
#logo{
    height: 5.625rem;
    margin: .3rem;
    float:left
    }
#clubname{
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    font-size: 2rem;
    float:left;
    position: absolute;
    top: 1.1rem;
    left: 6.1rem;
    }
#iiitdwd{
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    float:left;
    font-size: .9rem;
    font-weight: 100;
    position: absolute;
    top: 3rem;
    left: 10rem;
    }
nav{
    text-align: right;
    float:right;
    margin-top: 1.16rem;
    }

a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .4rem 0 .4rem;
}

a:hover{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 5px rgb(75, 75, 75);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .4rem 0 .4rem;
    }

#headerbutton{
    height:3rem;
    width:7.5rem;
    margin-right: .5rem;
    border-radius: .7rem;
    font-weight: 550;
    background-color: #001011;
    color:rgb(219, 219, 219);
    font-size: 1rem;
}
#headerbutton:hover{
    height:3rem;
    width:7.5rem;
    border-radius: .7rem;
    margin-right: .5rem;
    background-color: #001011;
    text-shadow: 1px 1px 10px white;
    color:white;
}

/* Header CSS End */


/* Main Body CSS Start */

.intro-section{
    height: 33rem;
    width: 100%;
    background-color: #001011;
}

.intro-section img{
    max-height: 100%;
    max-width: auto;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px whitesmoke;
    height: 450px;
    position: relative;
    top:2rem;
    left: 2rem;
}

.intro-section h2{
    color: #7C90A0;
    width: 50%;
    display: flex;
    margin: 0;    
    font-size: 2.7rem;
    text-align: right;
    position: relative;
    top: -25rem;
    left: 46rem;
    text-decoration: underline;
}

.intro-section p{
    width: 45rem;
    max-height: 100%;
    font-family: "Playwrite NG Modern", cursive;
    line-height: 2rem;
    width: 50%;
    font-size: large;
    color: white;
    display: flex;
    position: relative;
    top: -24rem;
    left:46.5rem;
}

/* Main Body CSS End */