@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nowrap{
    white-space: nowrap;
}

/* Header CSS Start*/

header{
    height: 6rem;
    }
#logo{
    height: 5.625rem;
    margin: .3rem;
    float:left
    }
#clubname{
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    font-size: 2rem;
    float:left;
    position: absolute;
    top: 1.1rem;
    left: 6.1rem;
    }
#iiitdwd{
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    float:left;
    font-size: .9rem;
    font-weight: 100;
    position: absolute;
    top: 3rem;
    left: 10rem;
    }
header nav{
    text-align: right;
    float:right;
    margin-top: 1.16rem;
    }

header nav a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .4rem 0 .4rem;
}

header nav a:hover{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 5px rgb(75, 75, 75);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .4rem 0 .4rem;
    }

#headerbutton{
    height:3rem;
    width:7.5rem;
    margin-right: .5rem;
    border-radius: .7rem;
    font-weight: 550;
    background-color: #001011;
    color:whitesmoke;
    font-size: 1rem;
}
#headerbutton:hover{
    height:3rem;
    width:7.5rem;
    border-radius: .7rem;
    margin-right: .5rem;
    background-color: #001011;
    text-shadow: 1px 1px 5px white;
    color:whitesmoke;
}

/* Header CSS End */

/* Main Body CSS  Start*/

 .Photo{
    height: 28rem;
    width: 100%;
    border: 2px solid black;
    background-image: url('../img/ClubBanner.png');
    background-size:cover;
    
 }

 #Quote{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    position: relative;
    top: 18rem;
 }

 #QuoteMeaning{
    display: inline;
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive',cursive;
    color: #fff;
    position: relative;
    top: 17rem;
    left: 45rem;
 }


 .button2{
    height: 8rem;
    width: 100%;

 }

 .button2 button{
    height:4rem;
    width:15%;
    border-radius: .7rem;
    font-weight: 550;
    background-color: #001011;
    color:whitesmoke;
    font-size: 1.2rem;
    position: relative;
    top: 2rem;
    left: 42.5%;
}
.button2 button:hover{
    height:4rem;
    width:15%;
    border-radius: .7rem;
    font-size: 1.2rem;
    background-color: #001011;
    text-shadow: 1px 1px 5px white;
    color:whitesmoke;
}

/* Main Body CSS End*/


/* Footer CSS Start*/

footer {
    height: 20rem;
    width:100%;
    background-color: #001011;
    display: grid;
    grid-template-columns: .5fr .2fr .3fr;
}

.logo{
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.logo img{
    border:1px solid white;
    border-radius: 100px;
}
.logo p{
    color: white;
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    text-decoration: underline;
}

.pagenav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pagenav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.pagenav a:hover{
    color: #7C90A0;
    text-decoration: none;
    font-size: 1.3rem;
}

.socialnav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.socialnav img{
    height: 3rem;
}

.socialnav  a{
    color: #fff;
    text-decoration: none;
}

.socialnav  a:hover{
    color: #7C90A0;
    text-decoration: none;
}

.copy{
    background-color: #001314;
    color: #7C90A0;
    grid-column: span 3;
    display: flex;
    place-content: center;
}

/* Footer CSS End*/
