@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* RESET AND VARIABLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nowrap{
    white-space: nowrap;
}
:root{
    /* COLOR */
    --ALT-TEXT-COLOR: black;
    --BG-COLOR: #001011;
    --GREY-COLOR:#7C90A0;
    --MAIN-TEXT-COLOR: white;
    
    /* SHADOW */
    --BOX-SHADOW:2px 2px 4px #7C90A0;
    --TEXT-SHADOW:1px 1px 5px #7C90A0;
    --TEXT-SHADOW-WHITE:1px 1px 3px hsla(0, 0%, 100%, 0.5);
}

/* Header CSS Start*/
header{
    height: 6rem;
    }
#logo{
    height: 5.625rem;
    margin: .3rem;
    float:left
    }
#clubname{
    float:left;
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    font-size: 2rem;
    position: absolute;
    left: 6.1rem;
    top: 1.1rem;
    }
#iiitdwd{
    float:left;
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    font-size: .9rem;
    font-weight: 100;
    position: absolute;
    left: 10rem;
    top: 3rem;
    }
header nav{
    float:right;
    margin-top: 1.16rem;
    text-align: right;
    }
header nav a{
    color: var(--ALT-TEXT-COLOR);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: .85;
    padding: 0 .4rem 0 .4rem;
    text-decoration: none;
}
header nav a:hover{
    opacity: 1;
    text-shadow: var(--TEXT-SHADOW);
    }
#headerbutton{
    background-color: var(--BG-COLOR);
    border-radius: .7rem;
    color:var(--MAIN-TEXT-COLOR);
    font-size: 1rem;
    font-weight: 550;
    height:3rem;
    margin-right: .5rem;
    width:7.5rem;
}
#headerbutton:hover{
    text-shadow: var(--TEXT-SHADOW-WHITE);
}
/* Header CSS End */

/* Main Body CSS  Start*/
 .Photo{
    background-image: url('../img/ClubBanner.png');
    background-size:cover;
    border: 2px solid black;
    height: 28rem;
    width: 100%;
 }
 #Quote{
    color: var(--MAIN-TEXT-COLOR);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    position: relative;
    text-align: center;
    top: 18rem;
 }
 #QuoteMeaning{
    color: var(--MAIN-TEXT-COLOR);
    display: inline;
    font-family: 'Cedarville Cursive',cursive;
    font-size: 1.5rem;
    left: 45rem;
    position: relative;
    top: 17rem;
 }
 .button-2{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .button-2 button{
    background-color: var(--BG-COLOR);
    border-radius: .7rem;
    color:var(--MAIN-TEXT-COLOR);
    font-size: 1.2rem;
    font-weight: 550;
    height:4rem;
    width:15%;
}
.button-2 button:hover{
    background-color: var(--BG-COLOR);
    border-radius: .7rem;
    color:var(--MAIN-TEXT-COLOR);
    font-size: 1.2rem;
    height:4rem;
    text-shadow: var(--TEXT-SHADOW-WHITE);
    width:15%;
}

    /* .updates-section */
.updates-section{
    height: 30rem;
    display: flex;
    place-content: center;
    margin-bottom: 1rem;
}
.table{
    height: 95%;
    width: 60%;
    display: grid;
    grid-template-columns: .5fr .5fr;
    column-gap: 7px;
}
.table .column{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--BOX-SHADOW);
}
.table .column h3{
    color:var(--BG-COLOR);
    font-size: 1.8rem;
    margin: 5px;
}
.table .column li{
    font-size: 1.3rem;
    text-align: justify;
    text-justify: inter-word;
    list-style-type:none;
    margin: 1rem;
    font-weight: 500;
}
.table .column li a {
    text-decoration: none;
    color: black;
}
/* Main Body CSS End*/

/* Footer CSS Start*/
footer {
    background-color: var(--BG-COLOR);
    display: grid;
    grid-template-columns: .5fr .2fr .3fr;
    height: 20rem;
    width:100%;
}
.logo{
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.logo img{
    border-radius: 100px;
    border:1px solid white;
}
.logo p{
    color: var(--MAIN-TEXT-COLOR);
    font-family: 'DM Serif Text','Times New Roman', Times, serif;
    text-decoration: underline;
}
.pagenav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pagenav a{
    color: var(--MAIN-TEXT-COLOR);
    font-size: 1.3rem;
    text-decoration: none;
}
.pagenav a:hover{
    color: var(--GREY-COLOR);
    font-size: 1.3rem;
    text-decoration: none;
}
.socialnav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.socialnav img{
    height: 3rem;
}
.socialnav  a{
    color: var(--MAIN-TEXT-COLOR);
    text-decoration: none;
}
.socialnav  a:hover{
    color: var(--GREY-COLOR);
    text-decoration: none;
}
.copy{
    background-color: #001314;
    color: var(--GREY-COLOR);
    display: flex;
    grid-column: span 3;
    place-content: center;
}
/* Footer CSS End*/
